[features]
seeds = false
skip-lint = false

[programs.devnet]
kamiyo_fast_voting = "AakwnBstczs5KC2jKPfBuFLQZADXrx4oPH8FtJbhPxwA"

[programs.mainnet]
kamiyo_fast_voting = "AakwnBstczs5KC2jKPfBuFLQZADXrx4oPH8FtJbhPxwA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
